.header__lang-link {
  min-width: 22px;
  min-height: 20px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  opacity:1;
  transition: 0.5s;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    min-width: 30px;
    min-height: 28px;
    font-size: 24px;
    line-height: 28px;
  }
}