.places {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 64px;
  margin-bottom: 66px;
}

@media screen and (min-width: 768px) {
  .places {
    gap: 73px;
    margin: 88px auto 90px;
    max-width: 928px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    gap: 80px;
    margin: 92px auto 92px;
  }
}