.header__links {
  display: flex;
  justify-content: space-between;
  min-width: 62px;
  min-height: 20px;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .header__links {
    min-width: 78px;
    min-height: 28px;
    margin-top: 18px;
  }
}