.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header {
    width: 93.75%;
    margin-top: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
    margin: 28px auto 0;
  }
}