.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px auto 40px auto;
  text-align: center;
  width: 288px;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 56px auto;
    width: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px auto 64px auto;
  }
}