.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100vw;
  min-width: 320px;
  max-width: 1184px;
  max-height: 740px;
  height: 62.5vw;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.cover__background::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .2s ease-in-out;
}

.cover__background:hover::before {
  opacity: .9;
  cursor: pointer;
}

@media screen and (min-width: 1184px) {
  .cover__background {
    margin-left: auto;
    margin-right: auto;
  }
}