.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  min-width: 158px;
  min-height: 14px;
  margin: 8px auto 0 5%;
}

@media screen and (min-width: 480px) {
  .lead__caption {
   margin-left: 24px;
  }
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin: 8px auto 0 3.125%;
  }
}

@media screen and (min-width: 989px) {
  .lead__caption {
    max-width: 928px;
    margin: 8px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    max-width: 984px;
  }
}

