.foto-grid__image {
  width: 90%;
  max-width: 100%;
  min-height: 213px;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .foto-grid__image {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .foto-grid__image {
    width: 284px;
    height: 213px;
  }
}